<!--{{.}}
{{#itr .}}
<ul>
<li>
<div class="row">
<div class="span2 assetp-key">{{key}}</div>
<div class="span7 assetp-value">{{value}}</div>
</div>
</li>
</ul>
<hr/>
{{/itr}}
-->


{{overview_description}}
<!--<hr>
<a id="btn-view-xml" href="{{overview_url}}" target="_blank"><i class="icon-link"></i> {{>asset-overview-text}}</a>-->
