{{#each devices}}
	{{deviceMap this}}
    <div class="ctrl-wr-asset" data-deviceid="{{deviceIdentifier}}" data-type="{{type}}">
        <div class="itm-select">
            <label class="wr-input-control checkbox">
                <input type="checkbox"/>
                <span class="helper"></span>
            </label>
        </div>
        <div class="itm-ast">
            <a href="device/{{type}}/{{deviceIdentifier}}">
                <div class="ast-img"><img src="{{../imageLocation}}{{type}}.png"/></div>
                <div class="ast-desc">
                    <div class="ast-title">
                        <h3 class="ast-name">{{name}}</h3>
                        <span class="ast-auth">Device Type: {{type}}</span>
                        <span class="ast-auth">Date of Enrollment: <span class="formatDate">{{enrolmentInfo.dateOfEnrolment}}</span></span>
                    </div>
                    <div class="ast-model">
                        <span class="ast-ver">{{enrolmentInfo.owner}}</span>
                        <span class="ast-published">{{status}}</span>

                        <div class="ast-btn-group">
                            <a href="/iotserver/device/{{type}}/{{deviceIdentifier}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-view fw-stack-1x"></i>
											</span>
                                <span class="lbl-action">View</span>
                            </a>
							{{#if_owner enrolmentInfo.owner }}
                                <a href="#" class="group-device-link" data-deviceid="{{deviceIdentifier}}" data-devicetype="{{type}}" data-devicename="{{name}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-group fw-stack-1x"></i>
											</span>
                                    <span class="lbl-action">Group</span>
                                </a>
							{{/if_owner}}
                            <a href="#" class="edit-device-link" data-deviceid="{{deviceIdentifier}}" data-devicetype="{{type}}" data-devicename="{{name}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-edit fw-stack-1x"></i>
											</span>
                                <span class="lbl-action">Edit</span>
                            </a>
                            <a href="#" class="remove-device-link" data-deviceid="{{deviceIdentifier}}" data-devicetype="{{type}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-delete fw-stack-1x"></i>
											</span>
                                <span class="lbl-action">Delete</span>
                            </a>
                        </div>
                    </div>
                </div>
                <br class="c-both"/>
            </a>
        </div>
    </div>

{{/each}}

<br class="c-both"/>
