{{#zone "main"}}

    <!-- anonymous landing page -->
    <div class="container wr-content-alt">

        <div class="row">
            <div class="col-md-3 col-xs-4 col-md-offset-1">
                <div class="itm-wiz"><div class="col-md-offset-2"><img src="{{self.publicURL}}/images/step-01.png" style="width:85px" ></div><div class="wiz-lbl hidden-xs"><span>Select your Device</span></div></div>
                <br class="c-both" />
            </div>
            <div class="col-md-1 col-xs-1 wr-showcase" style="padding-top: 50px"><i class="fw fw-right" style="font-size:28px; font-weight:100; margin-top:28px; color:#11375B"></i></div>
            <div class="col-md-3 col-xs-4">
                <div class="itm-wiz"><div class="col-md-offset-2"><img src="{{self.publicURL}}/images/step-02.png" style="width:85px"></div><div class="wiz-lbl hidden-xs"><span>Enroll your Device</span></div></div>
                <br class="c-both" />
            </div>
            <div class="col-md-1 col-xs-1 wr-showcase" style="padding-top: 50px"><i class="fw fw-right" style="font-size:28px; font-weight:100; margin-top:28px; color:#11375B"></i></div>
            <div class="col-md-3 col-xs-4 ">
                <div class="itm-wiz"><div class="col-md-offset-2"><img src="{{self.publicURL}}/images/step-03.png" style="width:85px"></div><div class="wiz-lbl hidden-xs"><span>Manage your Device</span></div></div>
                <br class="c-both" />
            </div>
        </div>

        {{unit "store-listing"}}

        <div class="row wr-static-content">
            <div class="col-md-2">
                <img src="{{self.publicURL}}/images/enroll-large.png" >
            </div>
            <div class="col-md-8" style="padding-top:15px">
                <h2>Enroll your device</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in volutpat sapien. Phasellus sit amet mollis velit, vitae finibus orci. Vestibulum facilisis, neque quis tincidunt pulvinar, dui orci interdum orci, a rhoncus ante neque vitae felis.</p>
            </div>
        </div>

        <div class="row wr-static-content">
            <div class="col-md-2">
                <img src="{{self.publicURL}}/images/manage-large.png" >
            </div>
            <div class="col-md-8" style="padding-top:20px">
                <h2>Manage your device</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in volutpat sapien. Phasellus sit amet mollis velit, vitae finibus orci. Vestibulum facilisis, neque quis tincidunt pulvinar, dui orci interdum orci, a rhoncus ante neque vitae felis.</p>
            </div>
        </div>

    </div>
    <!-- /anonymous landing page -->

{{/zone}}
