{{authorized}}
{{layout "fluid"}}
{{#zone  "title"}}
    Policies
{{/zone}}
{{#zone "body"}}
    {{unit "appbar" link="policies" title="My Policies"}}
    {{unit "extended-search-box"}}
    <div class="wr-device-list row">
        <div class="wr-hidden-operations wr-advance-operations">

        </div>
        <div class="col-md-12 wr-page-content">
            <!-- content -->
            <div>
                {{unit "policy-listing"}}
            </div>
            <!-- /content -->
        </div>
    </div>
{{/zone}}