<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="favicon.png" type="image/x-icon" />
        {{defineZone "favicon"}}
        <title>
            {{ defineZone "title"}}
        </title>
        {{ defineZone "topLibCss"}}
        {{ defineZone "topCss"}}
    </head>
    <body>
    <div class="wr-modalpopup">
        <div class="modalpopup-container">
            <div class="modalpopup-close-btn" onclick="hidePopup();">
            <span class="fw-stack">
                <i class="fw fw-ring fw-stack-2x"></i>
                <i class="fw fw-left-arrow fw-stack-1x"></i>
            </span>
                GO BACK
            </div>
            <div class="modalpopup-content"><!-- dynamic content --></div>
        </div>
        <div class="modalpopup-bg"></div>
    </div>
    {{ defineZone "notification"}}
    <div class="container col-lg-12 col-md-12 col-sm-12">
        <!-- header -->
        {{ defineZone "header"}}
        <!-- /header -->
        {{ defineZone "body"}}
        {{ defineZone "footer"}}
    </div>
    {{ defineZone "bottomjquery" }}
    {{ defineZone "bottomLibJs" }}
    {{ defineZone "bottomJs" }}
    </body>
</html>
