{{#each deviceTypes}}
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <div class="ctrl-device-type">
        <div class="d01"><img src="/iotserver/public/{{name}}/images/{{name}}-thumb.png" /></div>
        <div class="d02"><h2 class="white center">{{storeTitle}}</h2></div>
        <div class="d03">{{storeDescription}}</div>
        <div class="d04">
            <a href="#" class="cu-btn" onclick="document.location.href='/iotserver/devices/{{name}}';">
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-add fw-stack-1x"></i>
                    </span>
                Connect
            </a>
        </div>
    </div>
</div>
{{/each}}
<br class="c-both"/>
