<span id="drone-details" data-devices="{{devices}}" data-devicename="{{device.name}}"
      data-deviceid="{{device.deviceIdentifier}}"
      data-appcontext="{{@app.context}}"></span>
<div id="drone-div-chart" data-backend-api-url= {{backendApiUrl}}>
    <div class="chartWrapper" id="chartWrapper-battery">
        <span id="span-title">Battery</span>
        <div id="y_axis-battery" class="custom_y_axis"></div>
        <div class="legend_container">
            <div id="smoother-battery" title="Smoothing"></div>
            <div id="legend-battery"></div>
        </div>
        <div id="chart-battery" class="custom_rickshaw_graph" ></div>
        <div id="x_axis-battery" class="custom_x_axis"></div>
        <div id="slider-battery" class="custom_slider"></div>
    </div>

    <div class="chartWrapper" id="chartWrapper-heading">
        <span id="span-title">Heading</span>
        <div id="y_axis-heading" class="custom_y_axis"></div>
        <div class="legend_container">
            <div id="smoother-heading" title="Smoothing"></div>
            <div id="legend-heading"></div>
        </div>
        <div id="chart-heading" class="custom_rickshaw_graph" ></div>
        <div id="x_axis-heading" class="custom_x_axis"></div>
        <div id="slider-heading" class="custom_slider"></div>
    </div>

    <div class="chartWrapper" id="chartWrapper-bank">
        <span id="span-title">Bank</span>
        <div id="y_axis-bank" class="custom_y_axis"></div>
        <div class="legend_container">
            <div id="smoother-bank" title="Smoothing"></div>
            <div id="legend-bank"></div>
        </div>
        <div id="chart-bank" class="custom_rickshaw_graph" ></div>
        <div id="x_axis-bank" class="custom_x_axis"></div>
        <div id="slider-bank" class="custom_slider"></div>
    </div>
    <div class="chartWrapper" id="chartWrapper-attitude">
        <span id="span-title">Attitude</span>
        <div id="y_axis-attitude" class="custom_y_axis"></div>
        <div class="legend_container">
            <div id="smoother-attitude" title="Smoothing"></div>
            <div id="legend-attitude"></div>
        </div>
        <div id="chart-attitude" class="custom_rickshaw_graph" ></div>
        <div id="x_axis-attitude" class="custom_x_axis"></div>
        <div id="slider-attitude" class="custom_slider"></div>
    </div>
</div>

{{#zone "bottomJs"}}
    {{js "js/drone.js"}}
{{/zone}}
