{{#each groups}}
	{{groupMap this}}
    <form id="group-data-form-{{id}}" action="/iotserver/group/{{id}}" method="POST">
        <input type="hidden" name="name" value="{{name}}">
        <input type="hidden" name="deviceCount" value="{{deviceCount}}">
        <input type="hidden" name="dateOfCreation" value="{{dateOfCreation}}">
        <input type="hidden" name="dateOfLastUpdate" value="{{dateOfLastUpdate}}">
        <input type="hidden" name="description" value="{{description}}">
        <input type="hidden" name="users" value="{{users}}">
    </form>

    <div href="#" class="ctrl-wr-asset" data-groupid="{{id}}">
        <div class="itm-select">
            <label class="wr-input-control checkbox">
                <input type="checkbox"/>
                <span class="helper"></span>
            </label>
        </div>
        <div class="itm-ast">
            <div class="ast-img view-group-link" data-groupid="{{id}}"><img src="{{../imageLocation}}group-icon.png"/></div>
            <div class="ast-desc">
                <div class="ast-title view-group-link" data-groupid="{{id}}">
                    <h3 class="ast-name">{{name}}</h3>
                    <span class="ast-auth">Device Count: {{deviceCount}}</span>
                    <span class="ast-auth">Created On: <span class="formatDate">{{dateOfCreation}}</span></span>
                    <span class="ast-ver">Shared with: {{users}}</span>
                </div>
                <div class="ast-model">

                    <div class="ast-btn-group">
                        <a href="#" data-groupid="{{id}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-view fw-stack-1x"></i>
											</span>
                            <span class="lbl-action">View</span>
                        </a>
                        <a href="/iotserver/devices?groupId={{id}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-devices fw-stack-1x"></i>
											</span>
                            <span class="lbl-action">Devices</span>
                        </a>
                        <a href="/iotserver/analytics?groupId={{id}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-sequence fw-stack-1x"></i>
											</span>
                            <span class="lbl-action">Stats</span>
                        </a>
                        <a href="#" class="share-group-link" data-groupid="{{id}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-share fw-stack-1x"></i>
											</span>
                            <span class="lbl-action">Share</span>
                        </a>
                        <a href="#" class="edit-group-link" data-groupid="{{id}}" data-groupname="{{name}}"
                           data-groupdescription="{{description}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-edit fw-stack-1x"></i>
											</span>
                            <span class="lbl-action">Edit</span>
                        </a>
                        <a href="#" class="remove-group-link" data-groupid="{{id}}">
											<span class="fw-stack">
												<i class="fw fw-ring fw-stack-2x"></i>
												<i class="fw fw-delete fw-stack-1x"></i>
											</span>
                            <span class="lbl-action">Delete</span>
                        </a>
                    </div>
                </div>
            </div>
            <br class="c-both"/>
        </div>
    </div>

{{/each}}

<br class="c-both"/>
