
{{#zone "main"}}

    <link rel="stylesheet" href="{{self.publicURL}}/css/codemirror.css"/>

    <style>
        .CodeMirror {
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid black;
        }
    </style>


    <script>
        var init = function () {
            var mime = MIME_TYPE_SIDDHI_QL;

            // get mime type
            if (window.location.href.indexOf('mime=') > -1) {
                mime = window.location.href.substr(window.location.href.indexOf('mime=') + 5);
            }

            window.queryEditor = CodeMirror.fromTextArea(document.getElementById('policy-definition-input'), {
                mode: mime,
                indentWithTabs: true,
                smartIndent: true,
                lineNumbers: true,
                matchBrackets: true,
                autofocus: true,
                extraKeys: {
                    "Shift-2": function(cm) {
                        insertStr(cm, cm.getCursor(), '@');
                        CodeMirror.showHint(cm, getAnnotationHints);
                    },
                    "Ctrl-Space": "autocomplete"
                }
            });

        };
    </script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            init();
        });
    </script>

    <div class="row">
        <div class="col-md-12">
            <div class="hidden wr-steps">
                <div class="col-md-3 col-xs-4">
                    <div class="itm-wiz itm-wiz-current" data-step="policy-devicetype"><div class="wiz-no">1</div><div class="wiz-lbl hidden-xs"><span>Select Platform</span></div></div>
                    <br class="c-both" />
                </div>
                <div class="col-md-3 col-xs-4">
                    <div class="itm-wiz" data-step="policy-profile"><div class="wiz-no">2</div><div class="wiz-lbl hidden-xs"><span>Configure Profile</span></div></div>
                    <br class="c-both" />
                </div>
                <div class="col-md-3 col-xs-4">
                    <div class="itm-wiz" data-step="policy-content"><div class="wiz-no">3</div><div class="wiz-lbl hidden-xs"><span>Publish</span></div></div>
                    <br class="c-both" />
                </div>
            </div>
            <div class="container col-centered wr-content policy-message hidden">

                <div class="wr-form">

                    <h1 class="wr-title">Policy creation is successful</h1>
                    Please click <b>"Finish"</b> to complete the process and go back to the policy list
                    <hr />
                    <button class="wr-btn wizard-stepper" data-current="policy-message" data-direct="/iotserver/policies/" onclick="window.location.href='/iotserver/policies/'">
                        &nbsp;&nbsp;&nbsp;&nbsp;Finish&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>

                </div>

            </div>
            <div class="container col-centered wr-content policy-content hidden">

                <div class="wr-form">

                    <h1 class="page-sub-title">Add Policy</h1>

                    <div class="row wr-wizard"></div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <label class="wr-input-label" title="">
                                    Set a Name to Your Policy
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </label>
                                <div class="wr-input-control">
                                    <div class="cus-col-50">
                                        <input id="policy-name-input"  type="text" value="" placeholder="Policy name here" required/>
                                    </div>
                                    <br class="c-both" />
                                </div>

                                <label class="wr-input-label" title="">
                                    Set Description
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </label>
                                <div class="wr-input-control">
                                    <div class="cus-col-50">
                                        <textarea id="policy-description-input" placeholder="Policy description here" required></textarea>
                                    </div>
                                    <br class="c-both" />
                                </div>
                            </div>
                            <div class="wr-input-control wr-btn-grp">
                                <a href="#" class="wr-btn wizard-stepper" data-current="policy-content" data-back="true" data-next="policy-profile">Back</a>
                                <a href="#" class="wr-btn wizard-stepper" data-current="policy-content" data-next="policy-message">Save</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container col-centered wr-content policy-profile hidden">

                <div class="wr-form">

                    <h1 class="page-sub-title">Add Policy</h1>

                    <div class="row wr-wizard"></div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="wr-advance-operations">
                                <label class="wr-input-label" title="">
                                    Set Policy Definition
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </label>
                                <div class="wr-input-control">
                                    <div class="cus-col-100">
                                        <textarea id="policy-definition-input" placeholder="Enter the policy" style="width: 100%;" required></textarea>
                                    </div>
                                    <br class="c-both" />
                                </div>
                            </div>
                            <div class="wr-input-control wr-btn-grp">
                                <a href="#" class="wr-btn wizard-stepper" data-current="policy-profile" data-back="true" data-next="policy-devicetype">Back</a>
                                <a href="#" class="wr-btn wizard-stepper" data-current="policy-profile" data-next="policy-content">Continue</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container col-centered wr-content policy-devicetype">

                <div class="wr-form">

                    <h1 class="page-sub-title">Add Policy</h1>

                    <div class="row wr-wizard">
                        <div class="col-md-4 col-xs-4">
                            <div class="itm-wiz itm-wiz-current" data-step="policy-devicetype"><div class="wiz-no">1</div><div class="wiz-lbl hidden-xs"><span>Select Device Type</span></div></div>
                            <br class="c-both" />
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <div class="itm-wiz" data-step="policy-profile"><div class="wiz-no">2</div><div class="wiz-lbl hidden-xs"><span>Configure Profile</span></div></div>
                            <br class="c-both" />
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <div class="itm-wiz" data-step="policy-content"><div class="wiz-no">3</div><div class="wiz-lbl hidden-xs"><span>Publish</span></div></div>
                            <br class="c-both" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row wr-tile-buttons-list">
                                <div class="wr-input-control">
                                    <div id="ast-container" class="ast-container">
                                        {{! All "Device Types" registered in CDMF will be listed here. please refer: public/js/store-listing.js }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- content -->
        </div>
    </div>
{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/policy-create.js"></script>
    <script src="{{self.publicURL}}/js/codemirror.js"></script>
    <script src="{{self.publicURL}}/js/sql.js"></script>

        <script id="store-listing" src="{{self.publicURL}}/templates/store-listing.hbs" type="text/x-handlebars-template" ></script>
        <script src="{{self.publicURL}}/js/store-listing.js"></script>
{{/zone}}