{{#zone "main"}}

    <header>
        <div class="container container-fluid">
            <!-- Static navbar -->
            <nav class="navbar navbar-default">
                <div class=" margin-top">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="{{self.publicURL}}/images/logo.png" </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#"></a></li>
                            <li><a href="#">ARCHITECTURE</a></li>
                            <li><a href="#">GUIDE</a></li>
                            <li><a href="#">SUPPORT</a></li>
                            <li><a href="#">COMMUNITY</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            {{#if viewonly}}
                            <li id="flip-login" data-type="login" class="blue sign-toggle-btn" > LOGIN </li>
                            <li id="flip" data-type="register" class="margin-top blue-btn sign-toggle-btn"> REGISTER </li>
                            {{/if}}
                            {{#if user}}
                            <li class="blue">
                                <a href="#" data-toggle="dropdown">
                                    <div class="auth-img">
                                        {{user.username}}
                                        <span class="wso2icon-stack-md wso2icon-lg">
                                            <i class="wso2icon wso2-user wso2icon-stack-1-5x"></i>
                                        </span>
                                    </div>
                                </a>

                                <div class="dropdown-menu" role="menu">
                                    <div class="cu-arrow"></div>
                                    <div class="dropdown-menu-content">
                                        <a href="{{logoutURL}}" class="filter-item pull-right">Logout</a>
                                    </div>
                                </div>
                            </li>
                            {{/if}}
                            <li >
                                <form class="navbar-form" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control"  name="q">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>

                    </div><!-- /.navbar-collapse -->

                </div><!-- /.container-fluid -->
            </nav>
        </div><!--container-->
        <div class="sign-panel" data-type="register">
                <div class="container padding margin-top-double ">
                    <h5 >Register </h5> <hr class="opacity">
                    <div class="form-group" align="center">
					  <span class="wr-validation-summary hidden">
						<strong class="label label-danger"></strong>
					  </span>
					</div>
                    <div class="col-lg-5 padding center ">
                        <div class="col-lg-5 right padding-top-double uppercase ">
                            First Name
                        </div>
                        <div class="col-lg-7 ">
                            <input type="text right" id="first_name" placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-lg-5 padding center ">
                        <div class="col-lg-5 right padding-top-double uppercase ">
                            Last Name
                        </div>
                        <div class="col-lg-7 ">
                            <input type="text right" id="last_name" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="col-lg-5 padding center ">
                        <div class="col-lg-5 right padding-top-double uppercase  ">
                            Username
                        </div>
                        <div class="col-lg-7 ">
                            <input type="text right" id="user_name" placeholder="Username ">
                        </div>
                    </div>
                    <div class="col-lg-5 padding center ">
                        <div class="col-lg-5 right padding-top-double uppercase  ">
                            Email
                        </div>
                        <div class="col-lg-7 ">
                            <input type="text right" id="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-5 padding center ">
                        <div class="col-lg-5 right padding-top-double uppercase ">
                            Password
                        </div>
                        <div class="col-lg-7 ">
                            <input type="password right" id="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="col-lg-5 padding center ">
                        <div class="col-lg-5 right padding-top-double uppercase ">
                            Confirm Password
                        </div>
                        <div class="col-lg-7 ">
                            <input type="password right" id="password_confirmation"
                            placeholder="Confirm
                            Password">
                        </div>
                    </div>
                    <div class="col-lg-9 right padding-top-double padding-bottom-double margin-right-none">
                        <input type="checkbox" name="Agree" id="t_and_c" value="Bike"> <span class="italic">
                        I Agree by Clicking register, you agree to the Terms and Conditions set out by this site</span>
                    </div>

                    <div class="col-lg-12 center padding-top-double padding-bottom-double">
                        <button id="add-user-btn" class="blue-action-btn uppercase margin">
                        Register </button>
                        <button class="black-btn uppercase margin cancel-btn" > Cancel</button>
                    </div>
                </div>
            </div>

		<div class="sign-panel" data-type="login">
			<form method="POST" class="form-login-box" action="{{loginPath}}">
				<div class="container padding margin-top-double ">
					<h5 >Login </h5> <hr class="opacity">

					<div class="col-lg-3 padding ">
						Username :<br> <input type="text" name="username" />
					</div>
					<div class="col-lg-3 padding ">
						Password: <br> <input type="password" name="password" />
					</div>
					<div class="col-lg-6 padding-top-double padding-bottom-double padding-left-none">
						<button class="blue-action-btn uppercase margin" onclick="document.location.href='home.html';"> Login</button>
						<button class="black-btn uppercase margin cancel-btn " > Cancel</button>
					</div>
				</div>
			</form>
		</div>
    </header>

{{/zone}}

{{#zone "bottomJs"}}
	<script src="{{self.publicURL}}/scripts/validate-register.js"></script>
{{/zone}}