{{#zone "main"}}
    <span id="permission" data-permission="{{permissions}}"></span>
    <span id="user-details" data-username="{{user.username}}"></span>
    <!-- form content placeholder -->
    <div id="ast-container" class="ast-container list-view">
        <!-- no devices found -->
        <div class="container-fluid wr-content-alt">
            <div class="ctrl-info-panel col-md-6 col-centered">
                <h2>Loading...</h2>
            </div>
        </div>
        <!-- /no groups found -->
    </div>

    <div id="no-groups-div-content" class="hide">
        <!-- no groups found -->
        <div class="container-fluid wr-content-alt">
            <div class="ctrl-info-panel col-md-6 col-centered">
                <h2>You don't have any Groups registered at the moment.</h2>
                <p>
                    <a href="/iotserver/groups/add-group" class="cu-btn add-group-link">
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-add fw-stack-1x"></i>
                    </span>
                        Add New Group
                    </a>
                </p>
            </div>
        </div>
        <!-- /no groups found -->
    </div>

    <div id="share-group-w1-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Select user to manage group sharing</h3>
					<div id="user-names">Loading...</div>
                    <div class="buttons">
                        <a href="#" id="share-group-next-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="share-group-w1-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="share-group-w2-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Select sharing roles</h3>
                    <br />
                    <div id="user-roles">Loading...</div>
                    <div class="buttons">
                        <a href="#" id="share-group-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="share-group-w2-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="share-group-200-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Group sharing updated successfully.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-group-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Do you really want to remove this group from your Group List?</h3>

                    <div class="buttons">
                        <a href="#" id="remove-group-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="remove-group-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-group-200-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Group was successfully removed.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="edit-group-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Please enter new name and description for the group</h3>
                    <br/>

                    <div>
                        <input id="edit-group-name" style="color:#3f3f3f;padding:5px" type="text" value=""
                               placeholder="Group Name" size="60">
                    </div>
                    <br/>

                    <div>
                        <input id="edit-group-description" style="color:#3f3f3f;padding:5px" type="text" value=""
                               placeholder="Group Description" size="60">
                    </div>
                    <div class="buttons">
                        <a href="#" id="edit-group-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Update&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="edit-group-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="edit-group-200-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Group was successfully updated.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="group-400-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Exception at backend. Try Later.</h3>

                    <div class="buttons">
                        <a href="#" id="group-400-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="group-403-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Action not permitted.</h3>

                    <div class="buttons">
                        <a href="#" id="group-403-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="group-409-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Group does not exist.</h3>

                    <div class="buttons">
                        <a href="#" id="group-409-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="group-unexpected-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Group does not exist.</h3>

                    <div class="buttons">
                        <a href="#" id="group-unexpected-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/zone}}
{{#zone "bottomJs"}}
    <script id="group-listing" data-image-resource="{{self.publicURL}}/images/"
            src="{{self.publicURL}}/templates/group-listing.hbs" type="text/x-handlebars-template"></script>
    <script src="{{self.publicURL}}/js/group-listing.js"></script>
{{/zone}}