{{#zone "main"}}

<!-- new markup -->
    <!-- secondary header - app bar -->
    <div id="nav" class="row wr-app-bar">
        <div class="wr-action-container">
            <div class="wr-action-btn-bar">
                <a href="javascript:openCollapsedNav()" class="cu-btn wr-hidden-nav-toggle-btn">
                    <span class="fw-stack">
                        <i class="fw fw-tiles fw-stack-1-5x"></i>
                    </span>
                </a><a class="cu-btn page-title" href='javascript:location.reload();'>
                <span class="fw-stack"></span>
                {{title}}
            </a>{{#each currentActions}}<a href="{{url}}" class="cu-btn {{class}}">
                        <span class="fw-stack">
                            <i class="fw fw-ring fw-stack-2x"></i>
                            <i class="fw {{icon}} fw-stack-1x"></i>
                        </span>
                {{title}}
            </a>
            {{/each}}{{#if enableBack}}<a href="javascript:history.go(-1)" class="cu-btn">
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-left-arrow fw-stack-1x"></i>
                    </span>
                Go Back
            </a>
            {{/if}}
                <a href="javascript:toggleNotificationbar()" class="cu-btn wr-notification-toggle-btn">
                    <span class="fw-stack-md">
                        <i class="fw fw-bell fw-stack-1-5x"></i>
                    </span>
                    <span class="wr-notification-bubble">0</span>
                </a>
            </div>
        </div>
    </div>
    <!-- secondary header - app bar -->

    <!-- common navigation -->
	<div id="hiddenNav" class="wr-hidden-nav">
        <ul>
            <li><a href="/iotserver/dashboard"><i class="fw fw-globe"></i>Dashboard</a></li>
            <li><a href="/iotserver/devices"><i class="fw fw-mobile"></i>My Devices</a></li>
            <li><a href="/iotserver/groups"><i class="fw fw-group"></i>My Groups</a></li>
            {{#if permissions.ADD_USER}}
            <li><a href="/iotserver/users"><i class="fw fw-user"></i>User Management</a></li>
            {{/if}}
            <li><a href="/iotserver/policies"><i class="fw fw-policy"></i>Policy Management</a></li>
        </ul>
    </div>
	<!-- /common navigation -->




{{/zone}}