{{#zone "main"}}
    <span id="request-group-id" data-groupid="{{groupId}}"></span>
    <div class="container container-bg  white-bg">
        <div class=" margin-top-double">
            <div class="row row padding-top-double padding-bottom-double margin-bottom-double  ">
                <div class="col-lg-12  margin-top-double">
                    <h1 class="grey ">{{title}}</h1>
                    <hr>
                </div>
            </div>
            <div id="rangeSliderWrapper" class="pull-right" style="width: 620px;">
                <div class="row-fluid">
                    <div class="span12">
                        <div id="dateRangePickerContainer">
                            <div class="btn-group" role="group">
                                <button id="hour-btn" type="button"
                                        class="btn btn-default date-range">Hour
                                </button>
                                <button id="h12-btn" type="button"
                                        class="btn btn-default date-range">12 Hours
                                </button>
                                <button id="h24-btn" type="button"
                                        class="btn btn-default date-range">24 Hours
                                </button>
                                <button id="h48-btn" type="button"
                                        class="btn btn-default date-range">48 Hours
                                </button>
                                <button id="date-range" type="button"
                                        class="btn btn-default date-range last-child"
                                        data-toggle="popup"
                                        title="Click to set custom date range"></button>
                            </div>
                            <span class="add-on-cal"><i style="margin-right:0px;"
                                                        class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div id="div-temperatureData">
            </div>
            <div id="div-lightData">
            </div>
            <div id="div-motionData">
            </div>
            <div id="div-sonarData">
            </div>
            <div id="div-fanData">
            </div>
            <div id="div-bulbData">
            </div>
            <div id="div-cpuTemperatureData">
            </div>
            <div id="div-CPUData">
            </div>
            <div id="div-RAMData">
            </div>
        </div>
    </div>
{{/zone}}
{{#zone "bottomLibJs"}}
    <script src="{{self.publicURL}}/js/d3.min.js"></script>
    <script src="{{self.publicURL}}/js/rickshaw.min.js"></script>
    <script src="{{self.publicURL}}/js/moment.min.js"></script>
    <script src="{{self.publicURL}}/js/jquery.daterangepicker.js"></script>
    <script src="{{self.publicURL}}/js/graph_util.js"></script>
{{/zone}}