{{#zone "main"}}
    <div class="container container-bg  white-bg">
        <div class=" margin-top-double">
            <div class="row row padding-top-double padding-bottom-double margin-bottom-double  ">
                <div class="col-lg-12  margin-top-double">
                    <h1 class="grey ">Device Statistics</h1>
                    <hr>
                </div>
            </div>
            <div id="rangeSliderWrapper" class="pull-right" style="width: 550px;">
                <div class="row-fluid">
                    <div class="span12">
                        <div id="dateRangePickerContainer">
                            <div class="btn-group" role="group">
                                <button id="hour-btn" type="button"
                                        class="btn btn-default date-range">Hour
                                </button>
                                <button id="today-btn" type="button"
                                        class="btn btn-default date-range">Day
                                </button>
                                <button id="week-btn" type="button"
                                        class="btn btn-default date-range">Week
                                </button>
                                <button id="month-btn" type="button"
                                        class="btn btn-default date-range">Month
                                </button>
                                <button id="date-range" type="button"
                                        class="btn btn-default date-range last-child"
                                        data-toggle="popup"
                                        title="Click to set custom date range"></button>
                            </div>
                            <span class="add-on-cal"><i style="margin-right:0px;"
                                                        class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div id="div-temperatureData">
            </div>
            <div id="div-lightData">
            </div>
            <div id="div-motionData">
            </div>
            <div id="div-sonarData">
            </div>
            <div id="div-fanData">
            </div>
            <div id="div-bulbData">
            </div>
            <div id="div-cpuTemperatureData">
            </div>
            <div id="div-CPUData">
            </div>
            <div id="div-RAMData">
            </div>
        </div>
    </div>
{{/zone}}
{{#zone "bottomLibJs"}}
    <script src="{{self.publicURL}}/js/d3.v3.js"></script>
    <script src="{{self.publicURL}}/js/rickshaw.min.js"></script>
    <script src="{{self.publicURL}}/js/moment.min.js"></script>
    <script src="{{self.publicURL}}/js/jquery.daterangepicker.js"></script>
    <script src="{{self.publicURL}}/js/graph_util.js"></script>
    <script src="{{self.publicURL}}/js/bulb.js"></script>
    <script src="{{self.publicURL}}/js/graphs/fan_graph.js"></script>
    <script src="{{self.publicURL}}/js/graphs/bulb_graph.js"></script>
    <script src="{{self.publicURL}}/js/graphs/temperature_graph.js"></script>
    <script src="{{self.publicURL}}/js/graphs/light_graph.js"></script>
    <script src="{{self.publicURL}}/js/graphs/motion_graph.js"></script>
    <script src="{{self.publicURL}}/js/graphs/sonar_graph.js"></script>
    <script src="{{self.publicURL}}/js/graphs/cpu_graph.js"></script>
    <script src="{{self.publicURL}}/js/graphs/ram_graph.js"></script>
    <script src="{{self.publicURL}}/js/graphs/cpu_temperature_graph.js"></script>
{{/zone}}