{{#zone "main"}}
    <div class="row wr-device-board">
        <div class="col-lg-12 wr-secondary-bar">
            <label class="device-id device-select" data-groupid="{{group.id}}">
                Group: {{group.name}}
            </label>
        </div>
    </div>
    <div class="wr-group-list row">
        <div class="wr-hidden-operations wr-advance-operations">

        </div>
        <div class="col-md-12 wr-page-content">
			{{unit "operation-bar"}}
            <div class="row">
                <div class="col-md-12 wr-stats-board">

                    <!-- content -->

                    <div class="col-lg-2 ast-desc-image">
                        <div class="row">
                            <div class="col-lg-12 col-sm-4">
                                <img src="{{self.publicURL}}/img/group-icon.png" style="width:200px"/>
                            </div>
                            <br/>

                            <div class="col-lg-12 col-sm-4 ast-desc">
                                <div class="ast-group-desc"><b>Description</b><br/> <span>{{group.description}}</span>
                                </div>
                                <br/>

                                <div class="ast-group-desc"><b>No. of Devices:</b> {{group.deviceCount}}</div>
                                <div class="ast-group-desc"><b>Users:</b> {{group.users}}</div>
                                <div class="ast-group-desc"><b>Created on:</b> <span
                                        class="formatDate">{{group.dateOfCreation}}</span></div>
                                <div class="ast-group-desc"><b>Modified on:</b> <span
                                        class="formatDate">{{group.dateOfLastUpdate}}</span></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-10 tiles">

                        <!-- group summary -->
                        <div class="row">

                            <div class="col-lg-6 col-md-6">
                            </div>

                        </div>
                        <!-- /group summary -->

                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                            <!-- statistics -->
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h2 class="sub-title panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <span class="fw-stack">
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                            <i class="fw fw-arrow fw-down fw-stack-1x"></i>
                                        </span>
                                            Group Statistics
                                        </a>
                                    </h2>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <a href="/iotserver/analytics?groupId={{group.id}}&name={{group.name}}"><i class="fw fw-charts"></i>
                                            Show Statistics</a>
                                    </div>
                                </div>
                            </div>

                            <!-- devices -->
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h2 class="sub-title panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span class="fw-stack">
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                            <i class="fw fw-arrow fw-down fw-stack-1x"></i>
                                        </span>
                                            Group Devices
                                        </a>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <a href="/iotserver/devices?groupId={{group.id}}"><i class="fw fw-charts"></i> Show Devices
                                            in Group</a>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                    <!-- /content -->

                </div>
            </div>
        </div>
    </div>

{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/group-detail.js"></script>
{{/zone}}