{{#zone "topCss"}}
    {{css "css/graph.css"}}
{{/zone}}
<div id="div-chart-sensorType1" data-websocketurlStream="{{websocketEndpointForStream1}}">
    <div class="chartWrapper" id="chartWrapper">
        <div id="yAxisSensorType1" class="custom_y_axis">smartLock</div>
        <div class="legend_container">
            <div id="smoother" title="Smoothing"></div>
            <div id="legend"></div>
        </div>
        <div id="chartSensorType1" class="custom_rickshaw_graph"></div>
        <div class="custom_x_axis">Time</div>
    </div>
</div>
<div id="div-chart-sensorType2" data-websocketurlStream="{{websocketEndpointForStream2}}">
    <div class="chartWrapper" id="chartWrapper">
        <div id="yAxisSensorType2" class="custom_y_axis">smartFan</div>
        <div class="legend_container">
            <div id="smootherSensorType2" title="Smoothing"></div>
            <div id="legendSensorType2"></div>
        </div>
        <div id="chartSensorType2" class="custom_rickshaw_graph"></div>
        <div class="custom_x_axis">Time</div>
    </div>
</div>
<a class="padding-left"
   href="{{@app.context}}/device/{{device.type}}/analytics?deviceId={{device.deviceIdentifier}}
   &deviceName={{device.name}}">
    <span class="fw-stack">
        <i class="fw fw-ring fw-stack-2x"></i>
        <i class="fw fw-statistics fw-stack-1x"></i>
    </span> View Device Analytics
</a>
<!-- /statistics -->
{{#zone "bottomJs"}}
    {{js "js/d3.min.js"}}
    {{js "js/rickshaw.min.js"}}
    {{js "js/moment.min.js"}}
    {{js "js/socket.io.min.js"}}
    {{js "js/device-stats.js"}}
{{/zone}}
