{{#zone "topCss"}}
    {{css "css/main-app.css" }}
{{/zone}}
                <div class=" row">
                    <div class="box col-md-12">
                        <div>
                            <div class="col-md-2 col-sm-2 col-xs-1">
                                <button  class="btn btn-primary" data-dismiss="modal" id="connectionOpen"
                                         onclick="openSocket('{{wssAddress}}');">Connect to XMPP Server</button>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-1">
                                <button  class="btn btn-primary" data-dismiss="modal" id="xmppConnectionOpen">Start</button>
                            </div>
                            <div class="col-md-0.5 col-sm-1 col-xs-2">
                                <p>Battery Level </p>
                            </div>
                            <div class="col-md-4 col-sm-2 col-xs-2">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 0%;" id="battery_level_holder">
                                        <p id="battery_level">0%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               <!-- <div class="row">
                    <div class="box col-md-12">
                        <div class="box-inner">
                            <div class="box-header well">
                                <h2><i class="glyphicon glyphicon-info-sign"></i> Controller </h2>

                                <div class="box-icon">
                                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                            class="glyphicon glyphicon-chevron-up" ></i></a>
                                </div>
                            </div>
                            <div class="box-content row" id="module_control">

                                <div class="col-lg-1 col-md-12 hidden-xs center-text">
                                    <button class="btn btn-default btn-sm" id="takeoff">
                                        <i class="glyphicon glyphicon-play"></i> Takeoff</button>
                                </div>
                                <div class="col-lg-1 col-md-12 hidden-xs center-text">
                                    <button class="btn btn-default btn-sm" id="land">
                                        <i class="glyphicon glyphicon-stop"></i> Land</button>
                                </div>
                                <div class="col-lg-1 col-md-12 hidden-xs center-text">
                                    <button class="btn btn-default btn-sm" id="up">
                                        <i class="glyphicon glyphicon-arrow-up"></i> Up</button>
                                </div>
                                <div class="col-lg-1 col-md-12 hidden-xs center-text">
                                    <button class="btn btn-default btn-sm" id="down">
                                        <i class="glyphicon glyphicon-arrow-down"></i> Down</button>
                                </div>
                                <div class="col-lg-1 col-md-12 hidden-xs center-text">
                                    <button class="btn btn-default btn-sm" id="left">
                                        <i class="glyphicon glyphicon-arrow-left"></i> Left</button>
                                </div>
                                <div class="col-lg-1 col-md-12 hidden-xs center-text">
                                    <button class="btn btn-default btn-sm" id="right">
                                        <i class="glyphicon glyphicon-arrow-right"></i> Right</button>
                                </div>
                                <div class="col-lg-1 col-md-12 hidden-xs center-text">
                                    <button class="btn btn-default btn-sm" id="front">
                                        <i class="glyphicon glyphicon-chevron-up"></i> Front</button>
                                </div>
                                <div class="col-lg-1 col-md-12 hidden-xs center-text">
                                    <button class="btn btn-default btn-sm" id="back">
                                        <i class="glyphicon glyphicon-chevron-down"></i> Back</button>
                                </div>
                                <div class="col-lg-1 col-md-12 hidden-xs center-text">
                                    <button class="btn btn-default btn-sm" id="clockwise">
                                        <i class="glyphicon glyphicon-resize-vertical"></i> Clockwise</button>
                                </div>
                                <div class="col-lg-1 col-md-12 hidden-xs center-text">
                                    <button class="btn btn-default btn-sm" id="counter_clockwise">
                                        <i class="glyphicon glyphicon-resize-horizontal"></i> Conter-clockwise</button>
                                </div>
                                <div class="col-lg-2 col-md-12 hidden-xs center-text">
                                    <button class="btn btn-default btn-sm" id="stop">
                                        <i class="glyphicon glyphicon-ban-circle"></i> Stop</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="row">
                    <div class="box col-md-12">
                        <div class="box col-md-4">
                            <div class="box-inner">
                                <div class="box-header well" data-original-title="" >
                                    <h2><i class="glyphicon glyphicon-list"></i> Angle of Rotation</h2>

                                    <div class="box-icon" id="AngleOfRotation_1">
                                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                                class="glyphicon glyphicon-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="box-content" style="position: relative;" id="objectHolder">
                                    <div class="grayscale" border-radius="2" id="virtualDrone" >

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box col-md-2">
                            <div class="box-inner" style="max-height: 280px;">
                                <div class="box-header well" data-original-title="" >

                                    <div class="box-icon" id="AngleOfRotation_2">
                                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                                class="glyphicon glyphicon-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="box-content" >
                                    <div style="position: relative;">

                                        <img class="grayscale" id="imageTop"
                                             src="{{@unit.publicUri}}/images/drone_position_controller/direction_drone.png"
                                             style="width: 100%;"/>
                                        <img class="grayscale" id="imageBack"
                                             src="{{@unit.publicUri}}/images/drone_position_controller/background_drone.png"
                                             style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box col-md-2">
                            <div class="box-inner" style="max-height: 280px;">
                                <div class="box-header well" data-original-title="" >

                                    <div class="box-icon" id="AngleOfRotation_3">
                                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                                class="glyphicon glyphicon-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="box-content" >
                                    <div style="position: relative;">

                                        <img  id="imageBackSecond"
                                              src="{{@unit.publicUri}}/images/drone_position_controller/pitch_drone.png"
                                              style="width: 100%;"/>
                                        <img  id="imageTopSecond"
                                              src="{{@unit.publicUri}}/images/drone_position_controller/background_drone.png"
                                              style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box col-md-4">
                            <div class="box-inner">
                                <div class="box-header well" data-original-title="" >
                                    <h2><i class="glyphicon glyphicon-list"></i>Live Video Stream</h2>

                                    <div class="box-icon" id="LiveVideoStream">
                                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                                class="glyphicon glyphicon-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <img class="grayscale" src="{{@unit.publicUri}}/images/no_video_preview.gif"
                                         alt="video stream" style="display: block; height:225px; margin: auto;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="box col-md-12">
                        <div class="box col-md-4">
                            <div class="box-inner">
                                <div class="box-header well" data-original-title="" >
                                    <h2><i class="glyphicon glyphicon-list"></i>Sensor Readings</h2>
                                    <div class="box-icon" id="SensorReadings">
                                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                                class="glyphicon glyphicon-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="box-content" id="basicSensoReading">
                                    <div>
                                        <p>Location</br> latitude: <label id="locationLat"></label></br>
                                            longitude:  <label id="locationLog"></label></br>
                                            altitudes: <label id="locationAlt"></label></p>
                                        <p> Velocity:</br> x :<label id="velocityx"></label></br>
                                            y :  <label id="velocityy"></label></br>
                                            z : <label id="velocityz"></label></p>
                                        <p> Battery Voltage:<label id="battery_voltage"></label></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box col-md-8">
                            <div class="box-inner">
                                <div class="box-header well" data-original-title="" >
                                    <h2><i class="glyphicon glyphicon-list-alt"></i>Realtime Plotting</h2>

                                    <div class="box-icon" id="RealtimePlotting">
                                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                                class="glyphicon glyphicon-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <div class="row">
                                        <div class="box col-md-4"  id="plottingMetadata" style="margin-left: 5%">
                                            <div>
                                                Window size : <label id="window_size_current_value" >30</label>
                                                <div id="window_size" style="width: 100%;" ></div><br>
                                                Update period : <label id="window_update_value" >300</label>
                                            </div>
                                            <div id="window_update" style="width: 100%;"></div></br>
                                            <div style="width:100%;">Y-axis: <label>Min: <input id="range_min" type="text" value="-4" size="3"></label>
                                                <label>Max: <input id="range_max" value="4" type="text" size="3"></label></div>
                                            <div style="width:100%;"><select ng-model='discussionsSelect' class='form-control' id="plotting_attribute">
                                                <option value='heading' selected>Heading</option>
                                                <option value='bank'>Bank</option>
                                                <option value='attitude'>Attitude</option>
                                            </select></div></br>
                                            <div>
                                                <button  class="btn btn-primary"  id="replotting" >Replot</button>
                                            </div>
                                        </div>
                                        <div class="box col-md-8" id="realtimechart" style="width:20%; height: 250px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{{#zone "bottomJs"}}
    {{js  "/js/d3.min.js" }}
    {{js "/js/3dobject_controller/three.min.js" }}
    {{js "/js/3dobject_controller/Coordinates.js" }}
    {{js "/js/3dobject_controller/OrbitAndPanControls.js" }}
    {{js "/js/3dobject_controller/3dObjectControler.js" }}
    {{js "/js/jQueryRotate.js" }}
    {{js "/js/config/config.js" }}
    {{js "/js/common/ajax_handler.js" }}
    {{js "/js/modules/realtime_plotting" }}
    {{js "/js/initJs" }}
    {{js "/js/common/general_handler" }}
    {{js "/js/common/websocket_api" }}
    {{js "/js/modules/controller.js" }}
    {{js "/js/modules/flight_dynamics.js" }}
    {{js "/js/mainHandler" }}
{{/zone}}

