{{unit "cdmf.unit.lib.handlebars"}}
{{#zone "topCss"}}
    {{css "css/water-level.css"}}
{{/zone}}

<div id="div-chart" data-websocketurl="{{websocketEndpoint}}">
    <div class="water-level-wrapper">
        <div class="water-level">
            <div class="water-level_main">
                <div class="water-level_inner">
                    <div class="water" id="water"></div>
                </div>
                <div class="highlight"></div>
            </div>
        </div>
    </div>
</div>
<a class="padding-left"
   href="{{@app.context}}/device/{{device.type}}/analytics?deviceId={{device.deviceIdentifier}}&deviceName={{device.name}}">
    <span class="fw-stack">
        <i class="fw fw-ring fw-stack-2x"></i>
        <i class="fw fw-statistics fw-stack-1x"></i>
    </span> View Device Analytics
</a>
<!-- /statistics -->
{{#zone "bottomJs"}}
    {{js "js/moment.min.js"}}
    {{js "js/socket.io.min.js"}}
    {{js "js/device-stats.js"}}
{{/zone}}
