{{authorized}}
{{layout "fluid"}}
{{#zone  "title"}}
    WSO2 MDM | Device Management
{{/zone}}
{{#zone "body"}}
	{{unit "appbar"}}
	{{unit "extended-search-box"}}
    <div class="row">
        <div class="col-md-12">
            <!-- content -->
            <div class="container col-md-12 col-centered wr-content">
                {{unit "operation-bar"}}
                {{unit "device-listing"}}
            </div>
            <!-- /content -->
        </div>
    </div>
{{/zone}}