{{#zone "main"}}
    <span id="permission" data-user="{{user}}" data-permission="{{permissions}}"></span>
    <span id="request-group-id" data-groupid="{{groupId}}"></span>
    <!-- form content placeholder -->
    <div id="ast-container-parent" class="ast-container">
        <!-- no devices found -->
        <div class="container-fluid wr-content-alt">
            <div class="ctrl-info-panel col-md-6 col-centered">
                <h2>Loading...</h2>
            </div>
        </div>
        <!-- /no devices found -->
    </div>

    <div id="no-devices-div-content" class="hide">
        <!-- no devices found -->
        <div class="container-fluid wr-content-alt">
            <div class="ctrl-info-panel col-md-6 col-centered">
                <h2>You don't have any Devices registered at the moment.</h2>

                <p>
                    </a><a href="/iotserver/devices/add-device" class="cu-btn">
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-add fw-stack-1x"></i>
                    </span>
                    Add New Device
                </a>
                </p>
            </div>
        </div>
        <!-- /no devices found -->
    </div>

    <div id="no-grouped-devices-div-content" class="hide">
        <!-- no devices found -->
        <div class="container-fluid wr-content-alt">
            <div class="ctrl-info-panel col-md-6 col-centered">
                <h2>You don't have any associated devices with this group.</h2>

                <p>
                    </a><a href="/iotserver/devices" class="cu-btn">
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-add fw-stack-1x"></i>
                    </span>
                    Associate Existing Device
                </a>
                </p>
            </div>
        </div>
        <!-- /no devices found -->
    </div>

    <div id="no-devices-in-group-div-content" class="hide">
        <!-- no devices found -->
        <div class="container-fluid">
            <div class="ctrl-info-panel col-md-6 col-centered">
                <h3>You don't have any associated devices here.</h3>
            </div>
        </div>
        <!-- /no devices found -->
    </div>

    <div id="remove-device-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Do you really want to remove this device from your Devices List?</h3>

                    <div class="buttons">
                        <a href="#" id="remove-device-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="remove-device-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-device-200-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Device was successfully removed.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="edit-device-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Please enter new name for the device?</h3>
                    <br/>

                    <div>
                        <input id="edit-device-name" style="color:#3f3f3f;padding:5px" type="text" value=""
                               placeholder="Type here" size="60">
                    </div>
                    <div class="buttons">
                        <a href="#" id="edit-device-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Rename&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="edit-device-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="edit-device-200-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Device was successfully updated.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="group-device-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Please select group</h3>
                    <br/>

                    <div id="user-groups">Loading...</div>
                    <div class="buttons">
                        <a href="#" id="group-device-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Assign&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="group-device-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="group-associate-device-200-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Device was successfully associated with group.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="group-deassociate-device-200-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Device was successfully removed from group.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="device-400-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Exception at backend. Try Later.</h3>

                    <div class="buttons">
                        <a href="#" id="device-400-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-403-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Operation not permitted.</h3>

                    <div class="buttons">
                        <a href="#" id="device-403-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-409-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Device does not exist.</h3>

                    <div class="buttons">
                        <a href="#" id="remove-device-409-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="share-group-w1-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Select user to manage group sharing</h3>
                    <div id="user-names">Loading...</div>
                    <div class="buttons">
                        <a href="#" id="share-group-next-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="share-group-w1-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="share-group-w2-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Select sharing roles</h3>
                    <br />
                    <div id="user-roles">Loading...</div>
                    <div class="buttons">
                        <a href="#" id="share-group-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="share-group-w2-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="share-group-200-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Group sharing updated successfully.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-group-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Do you really want to remove this group from your Group List?</h3>

                    <div class="buttons">
                        <a href="#" id="remove-group-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="remove-group-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-group-200-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Group was successfully removed.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="edit-group-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Please enter new name and description for the group</h3>
                    <br/>

                    <div>
                        <input id="edit-group-name" style="color:#3f3f3f;padding:5px" type="text" value=""
                               placeholder="Group Name" size="60">
                    </div>
                    <br/>

                    <div>
                        <input id="edit-group-description" style="color:#3f3f3f;padding:5px" type="text" value=""
                               placeholder="Group Description" size="60">
                    </div>
                    <div class="buttons">
                        <a href="#" id="edit-group-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Update&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="edit-group-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="edit-group-200-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Group was successfully updated.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="group-400-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Exception at backend. Try Later.</h3>

                    <div class="buttons">
                        <a href="#" id="group-400-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="group-403-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Action not permitted.</h3>

                    <div class="buttons">
                        <a href="#" id="group-403-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="group-409-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Group does not exist.</h3>

                    <div class="buttons">
                        <a href="#" id="group-409-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="unexpected-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>Unexpected error occurred!</h3>

                    <div class="buttons">
                        <a href="#" id="unexpected-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/zone}}
{{#zone "bottomJs"}}
    <script id="group-listing" src="{{self.publicURL}}/templates/group-listing.hbs"
            type="text/x-handlebars-template"></script>
    <script id="device-listing" data-image-resource="{{self.publicURL}}/images/"
            src="{{self.publicURL}}/templates/device-listing.hbs" type="text/x-handlebars-template"></script>
    <script src="{{self.publicURL}}/js/device-listing.js"></script>
{{/zone}}
