<div class="col-lg-12  margin-top-double" xmlns="http://www.w3.org/1999/html">
    <h1 class="grey ">Connected Cup</h1>
    <hr>
    <p class="margin-bottom-double light-grey ">Connected Coffee Cups from CoffeeKing</p>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-top">
    <img src="{{@unit.publicUri}}/images/coffeecup.png" class="img-responsive">
</div>
<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 padding-top">
    <h3 class="uppercase">Ingredients</h3>
    <hr>
    <p class="grey margin-top">Hardware Requirements </p>
    <br>
    <ul>
            <span class="fw-stack fw-lg margin-right">
                    <i class="fw fw-ring fw-stack-2x"> </i>
                    <i class="fw fw-right-arrow fw-stack-1x"></i>
                </span> Coffee Cup <br/>
    </ul>
    <br>

    <a href="/api-store/apis/info?name={{@uriParams.deviceType}}&version=1.0.0&provider=admin"
       class="btn-operations" target="_blank"><i class="fw fw-api"></i> View API</i> &nbsp;</a>
    <a href="#" class="download-link btn-operations"><i class="fw fw-download"></i>Create an Instance</a>

    <div id="download-device-modal-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Name your device and download the agent from following link.</h3>
                    <br/>
                    <form id="downloadForm">
                        <div class="control-group">
                            <div class="controls">
                                <input class="connectedCupName" style="color:#3f3f3f;padding:5px"
                                       type="text"
                                       placeholder="Ex. Office_CoffeeCup"
                                       name="name" size="60" required>
                                <br/>
                                <input type="hidden" class="owner" name="owner" value={{@user.username}} />
                            </div>
                        </div>
                        <br/>
                        <div class="buttons">
                            <a class="btn-operations" onclick="downloadAgent()">Create an Instance</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="download-device-modal-content-links" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Please download the file from following link(Press CTRL+C).</h3>
                    <br/>

                    <div>
                        <input id="download-device-url" style="color:#3f3f3f;padding:5px"
                               type="text" value="" placeholder="Type here" size="60">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-400-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Exception at backend. Try Later.</h3>

                    <div class="buttons">
                        <a href="#" id="device-400-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-401-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>You have to log in first.</h3><br/>

                    <div class="buttons">
                        <a href="#" id="device-401-link" class="blue-button">
                            &nbsp;&nbsp;&nbsp;&nbsp;Goto Login Page&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>&nbsp;&nbsp;
                        <a href="#" onclick="hidePopup();" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-403-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Action not permitted.</h3><br/>

                    <div class="buttons">
                        <a href="#" id="device-403-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-409-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Device Sketch does not exist.</h3><br/>

                    <div class="buttons">
                        <a href="#" id="device-409-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-unexpected-error-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Unexpected error.</h3><br/>

                    <div class="buttons">
                        <a href="#" id="device-unexpected-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/><br/>
</div>

<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 padding-double grey-bg ">
    <h3 class="uppercase">Prepare</h3><hr>
    <p class="grey margin-top">Get your device ready</p>
    <br/>
    <ul>
        <p class="padding-top-double"><span class="circle">01</span> Set up your RaspberryPi device as shown in the schematic below and get the Digital Display setup.</p>
        <p class="padding-top-double"><span class="circle">02</span> Connect a monitor to your RaspberryPi via the HDMI cable to get a UI view of the device.</p>
        <p class="padding-top-double"><span class="circle">03</span> Get the RaspberryPi to connect to the internet (via Ethernet or Wifi) and note its IP_ADDRESS</p>
    </ul>
    <br>
</div>

<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 padding-double">
    <h3 class="uppercase">Schematic Diagram</h3><hr>
    <p class="grey margin-top">Click on the image to zoom</p>
    <center>
        <a href="{{@unit.publicUri}}/images/schematicsGuide.png" target="_blank">
            <img src="{{@unit.publicUri}}/images/schematicsGuide.png" class="img-responsive" style="max-width: 500px; max-height: 500px">
        </a>
    </center>
    <br/>
</div>

<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 padding-double">
    <h3 class="uppercase">Connect (Quick Start)</h3><hr>
    <p class="grey margin-top">Internet of Things Foundation Quickstart connection</p>
    <br/>
    <ul>
        <p class="padding-top-double"><span class="circle">01</span> <b>Click on the <i>'Create DEB'</i> button above to get the download link for the Digital Display setup files</b></p>
        <p class="padding-top-double"><span class="circle">02</span> <i>(The following commands can be issued by directly typing into the terminal of the device or by an <b>'ssh'</b> login from a remote PC)</i></p>
        <p class="padding-top-double"><span class="circle">03</span> <b>Download the Digital Display setup files using the following command: 'curl -k < url_link_received_from_the_above_step >> Agent.zip'</b><br/><i>This will download a zip file named 'Agent.zip'</i></p>
    </ul>
    <br>
</div>

</div>

<div id="qr-code-modal" data-enrollment-url="{{deviceType.enrollmentURL}}" class="hidden">

    <div class="content">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-centered">
                <h3>
                    Scan QR code to start enrollment
                </h3>
                <h4>
                    Please scan the QR code using your mobile device to retrieve enrollment URL.
                </h4>

                <div class="panel panel-default">
                    <div class="panel-body col-centered ">
                        <div class="qr-code"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .circle {
        background: none repeat scroll 0 0 #191919;
        border-radius: 50px;
        height: 50px;
        padding: 10px;
        width: 50px;
        color: #fff;
    }
    .padding-top-double {
        padding-top: 20px;
    }
    .padding-double {
        padding: 20px;
    }
    .grey {
        color: #333;
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #7f7f7f;
        margin: 1em 0;
        padding: 0;
        opacity: 0.2;
    }
    .light-grey {
        color: #7c7c7c;
    }
    .uppercase {
        text-transform: uppercase;
    }
    .grey-bg {
        background-color: #f6f4f4;
    }
</style>

{{#zone "bottomJs"}}
    {{js "/js/download.js"}}
    {{js "/js/jquery.validate.js"}}
{{/zone}}

