<div class="col-lg-12  margin-top-double" xmlns="http://www.w3.org/1999/html">
    <h1 class="grey ">Connected Cup</h1>
    <hr>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-top">
    <img src="{{@unit.publicUri}}/images/coffeecup.png" class="img-responsive">
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding-top">
    <h4 class="doc-link">Click
        <a href="https://docs.wso2.com/display/IoTS100/Sample+-+Getting+the+Connected+Cup+into+the+WSO2+IoT+Server"
                                  target="_blank">[ here ]</a> for latest instructions and troubleshooting.</h4>
</div>
<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 padding-top">
    <h3 class="uppercase">What it Does</h3>
    <hr>
    <p class="grey margin-top">Connected cup is a virtual simulation of a smart coffee cup from the IOT Hardware
                               manufacturer "Coffee King". Once an instance of the virtual Connected-Cup, Users can play
                               around with the temperature and Coffee level. And the information will be relayed back to
                               the IoTServer and summarized.
    </p>

    <p>The device supports communication via HTTPS only.</p>
    <br>

    <h3 class="uppercase">What You Need</h3>
    <hr>
    <ul class="list-unstyled">
        <li class="padding-top-double"><span class="circle">STEP 01</span>&nbsp;&nbsp;&nbsp;Go ahead and
            [Crete an Instance] of the Device.
        </li>
        <li class="padding-top-double"><span class="circle">STEP 02</span>&nbsp;&nbsp;&nbsp;Give a name to your
            Connected Cup instance.
        </li>
        <li class="padding-top-double"><span class="circle">STEP 03</span>&nbsp;&nbsp;&nbsp;Read
                                                                          [Try Out] section
                                                                          to further experiment with the device.
        </li>
    </ul>
    <br>

    <a href="/api-store/apis/info?name={{@uriParams.deviceType}}&version=1.0.0&provider=admin"
       class="btn-operations" target="_blank"><i class="fw fw-api"></i> View API</i> &nbsp;</a>
    <a href="#" class="download-link btn-operations"><i class="fw fw-download"></i>Create an Instance</a>

    <div id="download-device-modal-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered">
                    <h3>Name your device and download the agent from following link.</h3>
                    <br/>
                    <form id="downloadForm">
                        <div class="control-group">
                            <div class="controls">
                                <input class="connectedCupName" style="color:#3f3f3f;padding:5px"
                                       type="text"
                                       placeholder="Ex. Office_CoffeeCup"
                                       name="name" size="60" required>
                                <br/>
                                <input type="hidden" class="owner" name="owner" value={{@user.username}} />
                            </div>
                        </div>
                        <br/>
                        <div class="buttons">
                            <a class="btn-operations" onclick="downloadAgent()">Create an Instance</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="download-device-modal-content-links" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Please download the file from following link(Press CTRL+C).</h3>
                    <br/>

                    <div>
                        <input id="download-device-url" style="color:#3f3f3f;padding:5px"
                               type="text" value="" placeholder="Type here" size="60">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-400-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Exception at backend. Try Later.</h3>

                    <div class="buttons">
                        <a href="#" id="device-400-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-401-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>You have to log in first.</h3><br/>

                    <div class="buttons">
                        <a href="#" id="device-401-link" class="blue-button">
                            &nbsp;&nbsp;&nbsp;&nbsp;Goto Login Page&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>&nbsp;&nbsp;
                        <a href="#" onclick="hidePopup();" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-403-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Action not permitted.</h3><br/>

                    <div class="buttons">
                        <a href="#" id="device-403-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-409-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Device Sketch does not exist.</h3><br/>

                    <div class="buttons">
                        <a href="#" id="device-409-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="device-unexpected-error-content" class="hide">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-7 col-centered center-container">
                    <h3>Unexpected error.</h3><br/>

                    <div class="buttons">
                        <a href="#" id="device-unexpected-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/><br/>
</div>

<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 padding-double grey-bg ">
    <h3 class="uppercase">Try Out</h3><hr>
    <p class="grey margin-top">Access your Device</p>
    <br/>
    <ul>
        <p class="padding-top-double"><span class="circle">01</span> Select instance of the Connected Cup you created from the "Devices" section and click "View".</p>
        <p class="padding-top-double"><span class="circle">02</span> Click the [Go to Device] button from the "Operations" section and you will be able to view and experiment with the device.</p>
    </ul>
    <br>
</div>

<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 padding-double">
    <h3 class="uppercase">Connected Cup Agent</h3><hr>
    <p class="grey margin-top">Click on the image to zoom</p>
    <center>
        <a href="{{@unit.publicUri}}/images/coffee_stats.png" target="_blank">
            <img src="{{@unit.publicUri}}/images/coffee_stats.png" class="img-responsive" style="max-width: 500px; max-height: 500px">
        </a>
    </center>
    <br/>
</div>

</div>

<div id="qr-code-modal" data-enrollment-url="{{deviceType.enrollmentURL}}" class="hidden">

    <div class="content">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-centered">
                <h3>
                    Scan QR code to start enrollment
                </h3>
                <h4>
                    Please scan the QR code using your mobile device to retrieve enrollment URL.
                </h4>

                <div class="panel panel-default">
                    <div class="panel-body col-centered ">
                        <div class="qr-code"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .circle {
        background: none repeat scroll 0 0 #191919;
        border-radius: 50px;
        height: 50px;
        padding: 10px;
        width: 50px;
        color: #fff;
    }
    .padding-top-double {
        padding-top: 20px;
    }
    .padding-double {
        padding: 20px;
    }
    .grey {
        color: #333;
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #7f7f7f;
        margin: 1em 0;
        padding: 0;
        opacity: 0.2;
    }
    .light-grey {
        color: #7c7c7c;
    }
    .uppercase {
        text-transform: uppercase;
    }
    .grey-bg {
        background-color: #f6f4f4;
    }
    .doc-link {
        background: #11375B;
        padding: 20px;
        color: white;
        margin-top: 0;
    }

    .doc-link a {
        color: white;
    }
</style>

{{#zone "bottomJs"}}
    {{js "/js/download.js"}}
    {{js "/js/jquery.validate.js"}}
{{/zone}}

